html, body {
  height: 100%;
  width: 100%;
}

/* the purple block at the top */
header {
  height: 13%;
  overflow: hidden;
  background-color: #1E1656;
  color: white;
}

/* written title at the top */
header h1 {
  display: inline-block;
  padding: 2% 10% 10% 35%;
  font-size: 250%; /* was 50px */ 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}

/* university of portland logo in the corner */
header #logo {
    width: 13%; /* was 192px */
    float: right;
    display: block;
    object-fit: cover;
    margin: 1.5% 2% 3% 4%;
}

p {
  font-size: 2vh;
  color: #5E6A71;
}

#container {
  width: 100%;
  height: 72%;
  position: relative;
  margin: auto;
  border: 5px solid #666;
  text-align: center;
  transition: margin-left .5s;
  padding: 16px;
}

/* the actual map */
#map {
  background-color: white;
  width: 100%;
  height:100%;
  top: 15%;
}

#chartdiv {
  position: sticky;
  top: 10px;
  width: 100%;
  height: 100%;
  cursor: grab;
}

/* buttons in sidebar */
#filter {
  font-size: 30px;
  font-family: sans-serif;
  position:absolute;
  width: 100%;
}

.filter {
  background-color: transparent;
  width: 100%;
  height: 15%;
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items:start;
  z-index: 10;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  padding-top:10px;
}

/* sidebar resizable only from the right size. */
#mySidebar {
  resize: horizontal;
}

/* whole sidebar container */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #333;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
  cursor: pointer;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 36px;
  margin-left: 50px;
  color:#007A87;
}


.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #007A87;
  border: 2px solid white;
  color: white;
  padding: 8px;
}

.openbtn:hover {
  background-color: #004148;
}

.moreBtn {
  font-size: 20px;
  cursor: pointer;
  background-color: 007A87;
  border: 2px solid white;
  color: black;
  padding: 8px;
  float: right;
}

.moreBtn:hover {
  background-color: #004148;
}

/* info cards */
#card_container {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: white;
  margin-right: 15;
  margin-top: 15px;
  text-align: center;
  font-weight:lighter;
}

.card:hover {
  background-color: #ddd;
}

/* status buttons */
#status_buttons {
  margin-left: 10%;
}

.status {
  transform: scale(0.9);
  padding: 0;
  margin-left: -4px;
  margin-right: -4px;
}

/* all buttons */
.btn {
  border: none  ;
  outline: 2px solid white;
  padding: 10px 12px;
  background-color: #007A87;
  color: white;
  cursor: pointer;
  margin-left: 2px;
}

/* when hovering over buttons */
.btn:hover {
  background-color: #ddd;
  color: #007A87;
  outline: 2px solid #007A87;
}

.btn.active {
  background-color: white;
  color: #007A87;
  outline: 2px solid #007A87;
}

.btn.active:hover {
  background-color: white;
  color: #007A87;
  outline: 2px solid white;
}

/* div for add pin and about us button */
.add {
  border: none;
  outline: none;
  padding: 12px 30px;
  background-color: rgba(241, 241, 241, 0.5);
  cursor: pointer;
  font-size: 18px;
}

/* search bar */
.searchBar input[type=text] {
  padding: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  border: none;
  font-size: 17px;
  width: 80%;
}

/* bottom of page copyright statement */
footer {
  background-color: #666;
  color: white;
  text-align: center;
  padding: 1%;
  object-position: bottom;
  width: 100%;
}

/* info popup when yo uclick on a pin */
#eventModal {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; /* adds scroll */
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4)
}

.modal-content {
  background-color: #fefefe;
  margin: 12% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 70%; 
}

.close {
  color: #1E1656;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
